body{
   margin: 0;
   padding: 0;
   background: url(tausta2.jpg) no-repeat;
   background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: ' Century Gothic' sans-serif;
}

.box-img{
    border-radius: 50%;
    width: 175px;
    height: 175px;
}
.hox h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
   font-size: 20px;
   letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
    
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color:white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color:red
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 75px;
    font-size: 35px;
   color: white;
    background:rgba(0,0,0,0.7);
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    font-size: 35px;
    background:rgba(0,0,0,0.7);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:orange;
    transition: .3s;
}