.navbar {
    background-color:darkkhaki
}
body{
    background-color: beige;
}

.nav-link,bar
.navbar-brand{
    color: white;
}

.nav-link{
    margin-right: 25px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.footer {
    background-color:darkkhaki;
    color:white;
  
}

.img{
    height: 300px;
    width: auto;
}