.navbar {
   background-color: rgba(8, 8, 8, 0.388);
    
}
body{
background:url(./images/background1.jpg) no-repeat;
height: 100vh;
background-size: cover;
background-position: center;
color: white;
}

.nav-link,bar
.navbar-brand{
    color: white;
   
}

.nav-link{
    margin-right: 25px;
   
}
.navbar-collapse{
  
    justify-content: flex-end;
}
.footer {
  
    color:white;
  
}

.img{
    height: 300px;
    width: auto;
}
.p-color{
    color:white;
}